{% extends "work/base.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
{#            <div class="article-metadata">#}
{#              <a class="mr-2" href="#">{{ info.author }}</a>#}
{#              <small class="text-muted">{{ info.create_date }}</small>#}
{#            </div>#}
            <h2><a class="article-title" href="#">{{ error }}</a></h2>
{#            <p class="article-content">{{ info.content }}</p>#}
          </div>
        </article>
{% endblock content %}
